<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"
             alt="Character Portrait'"/>
        <div class="flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}"
                       placeholder="Character Name"/>
            </h1>
            {{#unless data.isNPC }}
            <div class="ghettoTable">
                <div class="row">

                    <div class="xp col">
                        <label for="data.xp.value">Experience</label>
                        <input type="text" id="data.xp.value" name="data.xp.value"
                            value="{{data.xp.value}}" maxlength="40"/>
                    </div>

                    
                    <div class="level col">
                        <label for="data.level.value">Level</label>
                        <input type="text" id="data.level.value" name="data.level.value"
                            value="{{data.level.value}}" maxlength="40"/>
                    </div>


                    <div class="title col">
                        <label for="data.occupation.value">Title</label>
                        <input type="text" id="data.title.value" name="data.title.value"
                            value="{{data.title.value}}" maxlength="40"/>
                    </div>

                    <div class="occupation col">
                        <label for="data.occupation.value">Occupation</label>
                        <input type="text" id="data.occupation.value" name="data.occupation.value"
                            value="{{data.occupation.value}}" maxlength="40"/>
                    </div>

                    <div class="alignment col">
                        <label for="data.alignment">Alignment</label>
                        <select id="data.alignment" name="data.alignment">
                            {{#select data.details.alignment}}
                                {{#each config.alignments as |label alignment|}}
                                    <option value="{{alignment}}">{{localize label}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>
            </div><!-- end ghetto table -->
            {{/unless}}

        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Character Tab --}}
        <div class="character flexrow">
            <div class="flexcol left-col">
                {{!-- Ability Scores --}}
                {{#unless data.isNPC }}
                <ul class="ability-scores ">
                    {{#each data.abilities as |ability id|}}
                        <li class="ability" data-ability="{{id}}">
                            <label class="ability-name box-title rollable">{{ability.label}}</label>
                            <br/>
                            <input class="ability-score" id="data.abilities.{{id}}.value" name="data.abilities.{{id}}.value"
                                type="text"
                                value="{{ability.value}}"
                                data-dtype="Number"
                                placeholder="10"
                            />

                            
                            <div class="ability-modifiers" title="Modifier">
                                {{numberFormat ability.mod decimals=0 sign=true}}
                            </div>
                            
                            {{#ifeq id "luck" }}
                            <div class="floating-luck">
                                <h4>FLEETING</h4>
                                <span><input class="fleeting-luck" id="data.abilities.luck.fleeting" name="data.abilities.luck.fleeting"
                                    type="text"
                                    value="{{data.abilities.luck.fleeting}}"
                                    data-dtype="Number"
                                    placeholder="0"
                                /></span>
                            </div>
                            {{/ifeq}}
                            
                        </li>
                    {{/each}}
                </ul>
                {{/unless}}

                {{!-- COMBAT TABLE, UNDER Abilitys --}}
                <div class="ghettoTable border">
                    <div class="row">
                        <div class="col"><label class="critdice-label box-title" for="data.attributes.critdice.value">Crit Dice</label></div>
                        <div class="col"><label class="crittable-label box-title" for="data.attributes.crittable.value">Crit Tbl</label></div>
                    </div>
                    <div class="row separate">
                        <div class="col">
                            <input class="critdice" type="text" id="data.attributes.critdice.value"
                            name="data.attributes.critdice.value"
                            value="{{data.attributes.critdice.value}}"
                            data-dtype="String"/>
                        </div>
                        <div class="col">
                            <input class="crittable" type="text" id="data.attributes.crittable.value"
                            name="data.attributes.crittable.value"
                            value="{{data.attributes.crittable.value}}"
                            data-dtype="String"/>
                        </div>
                    </div>

                    <div class="row separate">
                        <div class="col"><label class="attack-label box-title" for="data.attributes.attack.value">Attack</label></div>
                        <div class="col">
                            <input class="attack" type="text" id="data.attributes.attack.value"
                            name="data.attributes.attack.value"
                            value="{{numberFormat data.attributes.attack.value decimals=0 sign=true}}"
                            data-dtype="String"/>
                        </div>
                    </div>

                    <div class="row separate-last">
                        <div class="col center"><label class="temphp-label box-title" for="data.temphp.value">Armor HP</label></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input class="temphpvalue" type="text" id="data.temphp.value"
                            name="data.temphp.value"
                            value="{{numberFormat data.temphp.value decimals=0 sign=true}}"
                            data-dtype="Number"/>
                        </div>
                        <div class="col">
                            <input class="temphpmax" type="text" id="data.temphp.max"
                            name="data.temphp.max"
                            value="{{numberFormat data.temphp.max decimals=0 sign=true}}"
                            data-dtype="Number"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col center small">(min)</div>
                        <div class="col center small">(max)</div>
                    </div>
                </div>
                {{!-- END CRIT TABLE --}}

            </div>



            {{!-- Body Col To the Right of Abilities --}}
            <div class="flexcol dcccol2">
                {{!-- Top Row --}}
                <div class="character-main-top-row flexrow">
                    {{!-- Saving Throws --}}
                    <ul class="saving-throws">
                        {{#each data.attributes.saves as |save id|}}
                            <li class="save" data-save="{{id}}">
                                <label for="data.saves.{{id}}.value"
                                       class="save-name box-title rollable"
                                >{{id}}</label>
                                <input id="data.saves.{{id}}.value" name="data.saves.{{id}}.value"
                                       type="text"
                                       value="{{ numberFormat save.value decimals=0 sign=true }}"
                                       data-dtype="Number"
                                       placeholder="0"
                                />
                            </li>
                        {{/each}}
                    </ul>

                    {{!-- AC and HP --}}
                    <div class="ac flexcol">
                        <input class="ac-value" type="text" id="data.attributes.ac.value"
                               name="data.attributes.ac.value"
                               value="{{data.attributes.ac.value}}" data-dtype="Number"/>
                        <label for="data.attributes.ac.value">AC</label>
                    </div>
                    <div class="hp flexcol">
                        <input class="current" type="text" id="data.attributes.hp.value"
                               name="data.attributes.hp.value"
                               value="{{data.attributes.hp.value}}" data-dtype="Number"/>
                        <input class="max" type="text" name="data.attributes.hp.max"
                               value="{{data.attributes.hp.max}}"
                               data-dtype="Number"/>
                        <label class="max-label" for="data.attributes.hp.max">Max</label>
                        <label class="current-label" for="data.attributes.hp.value">HP</label>
                    </div>

                    {{!-- Init and Speed --}}
                    <div class="init-and-speed flexcol">
                        <div class="init">
                            <label class="init-label box-title rollable" for="data.attributes.init.value">Init</label>
                            <input class="init-value" type="text" id="data.attributes.init.value"
                                   name="data.attributes.init.value"
                                   value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}"
                                   data-dtype="Number"/>
                        </div>
                        <div class="speed">
                            <label for="data.attributes.speed.value">Speed</label>
                            <input class="speed-value" type="text" id="data.attributes.speed.value"
                                   name="data.attributes.speed.value"
                                   value="{{data.attributes.speed.value}}" data-dtype="Number"/>
                        </div>

                        <div class="HD">
                            <label for="data.attributes.speed.value">HD</label>
                            <input class="speed-value" type="text" id="data.attributes.speed.value"
                                   name="data.attributes.speed.value"
                                   value="{{data.attributes.speed.value}}" data-dtype="Number"/>
                        </div>

                    </div>
                </div>

                {{!-- Inventory --}}
                <div class="inventory">
                    {{> "systems/totalcc/templates/actor/partials/charateritems.html"}}
                </div>
            </div>
        </div>

    </section>
</form>

