<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">


            <div class="ghettoTable">

                <div class="row">
                <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
                </div>

                <div class="row">
                    <div class = "gridwrapper">




                        {{#if item.data.actiondice.actiondiceoverride}}

                        <div class="actiondice col">
                            <label for="data.actiondice.value">Dice</label>
                            <input type="text" id="data.actiondice.value" name="data.actiondice.value"
                                value="{{data.actiondice.value}}" maxlength="40"/>
                        </div>

                        {{/if}}

                        {{#ifeq item.data.canbeartifact 1 }}
                        {{#ifeq item.data.artifact.isartifact 1 }}

                        <div class="techlevel col">
                            <label for="data.artifact.tl">TL</label>
                            <input type="text" id="data.artifact.tl" name="data.artifact.tl"
                                value="{{data.artifact.tl}}" maxlength="40" data-dtype="Number"/>
                        </div>

                        <div class="complexitymod col">
                            <label class="rollable cm" for="data.artifact.cm">CM</label>
                            <input type="text" id="data.artifact.cm" name="data.artifact.cm"
                                value="{{data.artifact.cm}}" maxlength="40" data-dtype="Number"/>
                        </div>


                        {{/ifeq}}
                        {{/ifeq}}

                        {{#ifeq item.type "item" }}
                        {{#ifeq item.data.quantity.canstack "1" }}
                        <div class="quantity col">
                            <label for="data.quantity.value">Amount</label>
                            <input type="text" id="data.quantity.value" name="data.quantity.value"
                                value="{{data.quantity.value}}" maxlength="40" data-dtype="Number"/>
                        </div>

                        <div class="quantity col">
                            <label for="data.quantity.max">Max</label>
                            <input type="text" id="data.quantity.max" name="data.quantity.max"
                                value="{{data.quantity.max}}" maxlength="40" data-dtype="Number"/>
                        </div>

                        {{/ifeq}}
                        {{/ifeq}}

                        {{#ifeq item.type "weapon" }}
                        {{#each data.weaponstats as |stat id|}}
                        <div class="id col">
                            <label for="data.weaponstats.{{id}}">{{id}}</label>
                            <input type="text" id="data.weaponstats.{{id}}" name="data.weaponstats.{{id}}"
                                value="{{stat}}" maxlength="40" placeholder="0"/>
                        </div>


                        {{/each}}

                        <div class="equiptitemgroup col">
                            <label for="data.equiptitemgroup">Type</label>
                            <select id="data.equiptitemgroup" name="data.equiptitemgroup">
                                {{#select data.equiptitemgroup}}
                                    {{#each config.weapongroups as |label key|}}
                                        <option value="{{key}}">{{label}}</option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        </div>

                        {{/ifeq}}

                        {{#ifeq item.type "armor" }}

                        <div class="acbonus col">
                            <label for="data.acbonus}}">AC</label>
                            <input type="text" id="data.acbonus" name="data.acbonus"
                                value="{{data.acbonus}}" maxlength="40" data-dtype="Number"/>
                        </div>

                        <div class="penalty col">
                            <label for="data.penalty">Penalty</label>
                            <input type="text" id="data.penalty" name="data.penalty"
                                value="{{data.penalty}}" maxlength="40" data-dtype="Number"/>
                        </div>

                        <div class="fumble col">
                            <label for="data.fumble">Fumble</label>
                            <input type="text" id="data.fumble" name="data.fumble"
                                value="{{data.fumble}}" maxlength="40"/>
                        </div>

                        <div class="equiptitemgroup col">
                            <label for="data.equiptitemgroup">Type</label>
                            <select id="data.equiptitemgroup" name="data.equiptitemgroup">
                                {{#select data.equiptitemgroup}}
                                    {{#each config.armorgroup as |label key|}}
                                        <option value="{{key}}">{{label}}</option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        {{/ifeq}}

                        {{#ifeq item.type "skill" }}

                        <div class="bonus col">
                            <label for="data.bonus">Bonus</label>
                            <input type="text" id="data.bonus" name="data.bonus"
                                value="{{data.bonus}}" maxlength="40">
                        </div>

                        <div class="equiptitemgroup col">
                            <label for="data.equiptitemgroup">Type</label>
                            <select id="data.abilitiesmodifyer" name="data.abilitiesmodifyer">
                                {{#select data.abilitiesmodifyer}}
                                    {{#each config.abilities as |label abilitiy|}}
                                        <option value="{{abilitiy}}">{{label}}</option>
                                    {{/each}}
                                    <option value="">None</option>
                                {{/select}}
                            </select>
                        </div>

                        {{/ifeq}}

                        {{#ifeq item.type "mutation" }}

                        <div class="mutationtype col">
                            <label for="data.mutationtype">Type</label>
                            <select id="data.mutationtype" name="data.mutationtype">
                                {{#select data.mutationtype}}
                                    {{#each config.mutationtype as |label abilitiy|}}
                                        <option value="{{abilitiy}}">{{label}}</option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        </div>

                        <div class="mutationuse col">
                            <label for="data.mutationuse">Use</label>
                            <select id="data.mutationuse" name="data.mutationuse">
                                {{#select data.mutationuse}}
                                    {{#each config.mutationuse as |label abilitiy|}}
                                        <option value="{{abilitiy}}">{{label}}</option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        </div>


                        {{/ifeq}}


                        {{#ifeq item.data.isspellbase 1}}

                        <div class="save col">
                            <label for="data.save">Save</label>
                            <input type="text" id="data.save" name="data.save"
                                value="{{data.save}}" maxlength="40"/>
                        </div>

                        <div class="range col">
                            <label for="data.range">Range</label>
                            <input type="text" id="data.range" name="data.range"
                                value="{{data.range}}" maxlength="40"/>
                        </div>

                        <div class="duration col">
                            <label for="data.duration">Duration</label>
                            <input type="text" id="data.duration" name="data.duration"
                                value="{{data.duration}}" maxlength="60"/>
                        </div>

                        {{/ifeq}}


                    





                        {{#ifeq item.data.charges.usescharges "1" }}
                        <div class="charges col">
                            <label for="data.charges.value">Charges</label>
                            <input type="text" id="data.charges.value" name="data.charges.value"
                                value="{{data.charges.value}}" maxlength="40" data-dtype="Number"/>
                        </div>

                        <div class="charges col">
                            <label for="data.charges.max">Max</label>
                            <input type="text" id="data.charges.max" name="data.charges.max"
                                value="{{data.charges.max}}" maxlength="40" data-dtype="Number"/>
                        </div>

                        
                        <div class="charges col">
                            <label for="data.charges.cost">Cost</label>
                            <input type="text" id="data.charges.cost" name="data.charges.cost"
                                value="{{data.charges.cost}}" maxlength="40" data-dtype="Number"/>
                        </div>
                        {{/ifeq}}

                    </div>
                   
                </div>
            </div><!-- end ghetto table -->

            <!--
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="grid grid-2col">
              <div class="resource">
                <label class="resource-label">Quantity</label>
                  <input type="text" name="data.quantity.value" value="{{data.quantity.value}}" data-dtype="Number"/>
              </div>
              <div class="resource">
                <label class="resource-label">Weight</label>
                  <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
              </div>
            </div>
        </div>

        -->

        
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
        {{#if data.activation.useactivationtext}}
        <a class="item" data-tab="activationtext">Actervation Text</a>
        {{/if}}
        {{#if data.multifunctional.ismultifunctional}}
        <a class="item" data-tab="multifunction">MultiFunctions</a>
        {{/if}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">


        {{!-- Actervation Text Tab --}}
        <div class="tab" data-group="primary" data-tab="activationtext">
            {{editor content=data.activation.activationtext target="data.activation.activationtext" button=true owner=owner editable=editable}}
        </div>



        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{!-- As you add new fields, add them in here! --}}

            {{#ifeq item.type "item" }}
            <div class="resource">
                <label class="resource-label">Can Stack</label>
                <input type="checkbox" name="data.quantity.canstack" id="data.quantity.canstack" data-dtype="Boolean" {{checked data.quantity.canstack}}/>
            </div>
            {{/ifeq}}


            {{#ifeq item.type "weapon" }}
            <div class="resource">
                <label class="resource-label">Dont Roll Damage</label>
                <input type="checkbox" name="data.dontrolldamage" id="data.dontrolldamage" data-dtype="Boolean" {{checked data.dontrolldamage}}/>
            </div>
            {{/ifeq}}

            {{#ifeq item.type "skill" }}
            <div class="resource">
                <label class="resource-label">Additional Mod Script</label>
                  <input type="text" name="data.additionalmod" value="{{data.additionalmod}}" data-dtype="String"/>
            </div>
            {{/ifeq}}

            
            {{#ifeq item.data.canbeartifact 1 }}
            <div class="resource">
                <label class="resource-label">Is Artifact</label>
                <input type="checkbox" name="data.artifact.isartifact" id="data.artifact.isartifact" data-dtype="Boolean" {{checked data.artifact.isartifact}}/>
            </div>
            {{/ifeq}}


            {{#if data.multifunctional}}
            <div class="resource">
                <label class="resource-label">Is Mutlifunctional</label>
                <input type="checkbox" name="data.multifunctional.ismultifunctional" id="data.multifunctional.ismultifunctional" data-dtype="Boolean" {{checked data.multifunctional.ismultifunctional}}/>
            </div>
            {{/if}}


            <div class="resource">
                <label class="resource-label">Uses Charges</label>
                <input type="checkbox" name="data.charges.usescharges" id="data.charges.usescharges" data-dtype="Boolean" {{checked data.charges.usescharges}}/>
            </div>

            <div class="resource">
                <label class="resource-label">Use Actervation Text</label>
                <input type="checkbox" name="data.activation.useactivationtext" id="data.activation.useactivationtext" data-dtype="Boolean" {{checked data.activation.useactivationtext}}/>
            </div>

            <div class="resource">
                <label class="resource-label">Override Action Dice</label>
                <input type="checkbox" name="data.actiondice.actiondiceoverride" id="data.actiondice.actiondiceoverride" data-dtype="Boolean" {{checked data.actiondice.actiondiceoverride}}/>
            </div>
            
        </div>







        {{!-- Multifunction Text Tab --}}
        <div class="tab" data-group="primary" data-tab="multifunction">

                <h2>Attacks</h2>
                <ol class="items-list">
                  <li class="item flexrow item-header">
                    <div class="item-image"></div>
                    <div class="item-name">Name</div>
                    <div class="item-range">Range</div>
                    <div class="item-attack">Attack</div>
                    <div class="item-damage">Damage</div>
                    <div class="item-damagetype">Type</div>
                    <div class="item-charges">Charges</div>
                    <div class="item-controls">
                      <a class="item-control item-create" title="Create item" data-type="weapon"><i class="fas fa-plus"></i></a>
                    </div>
                  </li>
              {{#each data.multifunctional.weapons as |item id|}}
                  <li class="item flexrow" data-item-id="{{item._id}}">
                      <div class="item-image rollable"><img src="/icons/svg/d20-black.svg" title="Roll Icon" width="24" height="24"/></div>
                      <h4 class="item-name draggable" data-item-id="{{item._id}}">{{item.name}}</h4>
                      <h4 class="item-range">{{item.data.weaponstats.range}}</h4>
                      <h4 class="item-attack">{{item.data.weaponstats.attack}}</h4>
                      <h4 class="item-damage">{{item.data.weaponstats.damage}}</h4>
                      <h4 class="item-damagetype">{{item.data.weaponstats.type}}</h4>
        
                      {{> systems/totalcc/templates/actor/partials/chargescomp.html item=item}}
        
                      <div class="item-controls">
                          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                      </div>
                  </li>
              {{/each}}
              </ol>

        </div>



    </section>
</form>
