<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">


            <div class="ghettoTable">

                <div class="row">
                <h1 class="charname"><input name="name" type="text" value="{{MFWep.name}}" placeholder="Name"/></h1>
                </div>

                <div class="row">
                    <div class = "gridwrapper">


                        {{#if data.actiondice.actiondiceoverride}}

                        <div class="actiondice col">
                            <label for="data.actiondice.value">Dice</label>
                            <input type="text" id="data.actiondice.value" name="data.actiondice.value"
                                value="{{data.actiondice.value}}" maxlength="40"/>
                        </div>

                        {{/if}}



                        {{#each MFWep.data.weaponstats as |stat id|}}
                        <div class="id col">
                            <label for="data.weaponstats.{{id}}">{{id}}</label>
                            <input type="text" id="data.weaponstats.{{id}}" name="data.weaponstats.{{id}}"
                                value="{{stat}}" maxlength="40" placeholder="0"/>
                        </div>
                        {{/each}}


                        {{#ifeq item.data.isspellbase 1}}

                        <div class="save col">
                            <label for="data.save">Save</label>
                            <input type="text" id="data.save" name="data.save"
                                value="{{data.save}}" maxlength="40"/>
                        </div>

                        <div class="range col">
                            <label for="data.range">Range</label>
                            <input type="text" id="data.range" name="data.range"
                                value="{{data.range}}" maxlength="40"/>
                        </div>

                        <div class="duration col">
                            <label for="data.duration">Duration</label>
                            <input type="text" id="data.duration" name="data.duration"
                                value="{{data.duration}}" maxlength="60"/>
                        </div>

                        {{/ifeq}}


                        {{#ifeq item.data.data.charges.usescharges "1" }}
                        <div class="charges col">
                            <label for="data.charges.value">Cost</label>
                            <input type="text" id="data.charges.cost" name="data.charges.cost"
                                value="{{data.charges.cost}}" maxlength="40" data-dtype="Number"/>
                        </div>
                        {{/ifeq}}

                    </div>
                   
                </div>
            </div><!-- end ghetto table -->

            <!--
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="grid grid-2col">
              <div class="resource">
                <label class="resource-label">Quantity</label>
                  <input type="text" name="data.quantity.value" value="{{data.quantity.value}}" data-dtype="Number"/>
              </div>
              <div class="resource">
                <label class="resource-label">Weight</label>
                  <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
              </div>
            </div>
        </div>

        -->

        
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
        {{#if data.activation.useactivationtext}}
        <a class="item" data-tab="activationtext">Actervation Text</a>
        {{/if}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">


        {{!-- Actervation Text Tab --}}
        <div class="tab" data-group="primary" data-tab="activationtext">
            <h2>ACTERVATIONTEXT</h2>
            <div class = "editornew">

                <div>
                    <label for="data.activation.activationtext">Save</label>
                    <input type="text" id="data.activation.activationtext" name="data.activation.activationtext"
                        value="{{data.activation.activationtext}}" maxlength="400"/>
                </div>
            {{editor content=data.activation.activationtext target="data.activation.activationtext" button=true owner=owner editable=editable}}
        </div>
        <h2>ACTERVATIONTEXT</h2> 
        </div>



        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class = "editornew">
            {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
            </div>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{!-- As you add new fields, add them in here! --}}

            {{#ifeq MFWep.type "weapon" }}
            <div class="resource">
                <label class="resource-label">Dont Roll Damage</label>
                <input type="checkbox" name="data.dontrolldamage" id="data.dontrolldamage" data-dtype="Boolean" {{checked data.dontrolldamage}}/>
            </div>
            {{/ifeq}}


            <div class="resource">
                <label class="resource-label">Use Actervation Text</label>
                <input type="checkbox" name="data.activation.useactivationtext" id="data.activation.useactivationtext" data-dtype="Boolean" {{checked data.activation.useactivationtext}}/>
            </div>

            <div class="resource">
                <label class="resource-label">Override Action Dice</label>
                <input type="checkbox" name="data.actiondice.actiondiceoverride" id="data.actiondice.actiondiceoverride" data-dtype="Boolean" {{checked data.actiondice.actiondiceoverride}}/>
            </div>
        



            
        </div>
    </section>
    <button type="submit" name="submit" value="1"><i class="far fa-save"></i> SAVE </button>
</form>
